
.account-span {
    border-radius: 0!important;
    right: 0;
    width: 10rem;
    top: calc(1rem + 1.5rem);
    position: absolute;
    background-color: var(--cdarker)!important;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.account-span ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.account-span ul button {
    width: 100%;
    background-color: transparent;
    color: var(--cwhite);
    padding: .5rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.account-span ul button p {
    margin: 0;
    font-size: .8rem;
}
.account-span ul button:active {
    background-color: var(--corange);
    color: var(--cdarker);
}


/***/
.products-pop {
    border-radius: 5px;
    overflow: hidden;
    width: 90dvw;
    max-height: 86dvh;
    display: flex;
    flex-direction: column;
    height: 86dvh;
}
.products-pop > header {
    display: flex;
    padding: 0.5rem 1rem;
    background-color: var(--corange);
    gap: 0.7rem;
    align-items: center;
}
.products-pop > header> button {
    background-color: var(--cdarker);
    border-radius: 5px;
    color: var(--cwhite);
    padding: 0.5rem;
    gap: 0.5rem;
    display: flex;
    align-items: center;
}
.products-pop > header> button:last-child {
    color: var(--cdarker);
    background-color: transparent;
    padding: 0;
    margin-left: auto;
    font-size: 1.5rem;
}


.products-pop .page, 
.products-pop .item-selector{
    height: auto!important;
} 
.products-pop .type-selector ul {
    padding-bottom: 3rem;
    height: auto;
} 
.products-pop .item-selector-cont {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.products-pop .item-selector-cont>ul>.prod-pop-item:last-child {
    margin-bottom: 5dvh;
}

.products-pop ul {
    grid-template-rows: none!important;
    height: fit-content!important;
}
.products-pop .prod-pop-item {
    overflow: visible;
    /* height: 100%; */
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.prod-pop-item .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .2rem;
}
.prod-pop-item .tags > div {
    background-color: var(--cdarkgray);
    color: var(--cwhite);
    border-radius:7px;
    padding: .4rem;
    word-break: break-word;
}