.side-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: calc(100% - 4rem - 1.5rem);
    background-color: rgba(0, 0, 0, 0.295);
    height: calc(100% - 3.5rem);
    border-radius: 0 10px 10px 0;
    bottom: 0.5rem;
    box-shadow: 0 0 5px var(--clightgray);
    /* backdrop-filter: blur(1px); */
    animation: side-bar 300ms forwards;
    opacity: 0;
}

@keyframes side-bar {
    0% {
        opacity: 0;
        left: -5rem;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
@keyframes fade-to-left {
    100% {
        opacity: 0;
        left: -5rem;
    }
    0% {
        opacity: 1;
        left: 0;
    }
}


.fade-to-left {
    /* opacity: 1; */
    animation: fade-to-left 300ms forwards;
}

.side-bar:has(.warning) {
    background-color: rgba(0, 0, 0, 0.575);
}

.warning {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.7rem;
    color: var(--cwhite);
    padding: 0 1.5rem;
    padding-top: 2rem;
    text-align: center;
}
.warning.black {
    color: var(--cblack);
}
.warning > svg {
    font-size: 3rem;
}

.side-bar .input-search {
    background: linear-gradient(180deg, transparent, black 40%);
    margin: 1rem;
    margin-bottom: 0;
}
.side-bar .input-search>button {
    color: var(--corange);
}
.side-bar .input-search>.xmark {
    font-size: 1rem;
    background: transparent;
}

.table-list-side {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .3rem;
    overflow-y: scroll;
    margin: 0;
}

.table-list-side > button.active {
    box-shadow: 0 0 5px var(--corange);
    border-color: var(--corange)!important;
}
.table-list-side > button {
    border: 2px solid var(--clightgray);
    color: var(--clightgray);
    padding: .5rem 1rem;
    background: linear-gradient(90deg, black, transparent);
    border-radius: 5px;
    text-align: left;
    opacity: 0;
    animation: fade-up 200ms forwards;
    position: relative;
    top: 2rem;
}
@keyframes fade-up {
    from {
        opacity: 0;
        top: 2rem;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

.side-bar footer {
    display: flex;
    margin-top: auto;
    padding: 0.5rem;
    height: 4.5rem;
    padding-bottom: 0.25rem;
    gap: 0.5rem;
    align-items: center;
}

.main-nav.close {
    background-color: rgba(255, 255, 255, 0.192);
    /* position:initial; */
}

.return-to-map {
    margin-left: 5.5rem;
    background-color: rgba(255, 255, 255, 0.144);
    border-radius: 50%;
    color: var(--clightgray);
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    max-width: 3.5rem;
    max-height: 3.5rem;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
}
.return-to-map > svg {
    font-size: 1.5rem;
}